body {
  font-weight: 200;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-container > .header {
  padding: 0 20rem;
  background: #403042;
}

.header > .title, .header > .search {
  padding: 1rem;
}

.header > .site-icon {
  color: white;
}


.header > .title {
  margin-right: 20rem;
  color: white; 
  font-size: 2.5rem;
}

.header > .search {
}

.header > .search > #searchkeyword {
  height: 2.5rem;
  width: 48rem;
  font-size: 2rem;
  border-radius: 5px;
}

.booklist {
  padding: 2rem;
  margin: 0 20rem;
}

.book>.title {
  font-size: 1.25rem;
  font-weight: 800;
}