body {
  font-weight: 200;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-container > .header {
  background: #403042;
}

.header > .title, .header > .search {
  padding: 1rem;
}

.header > .title {
  padding-left: 8rem;
  color: white; 
}

.header > .search {
  align-self: center;
  padding-right: 8rem;
}

.booklist {}

.book>.title {
  font-size: 1.25rem;
  font-weight: 800;
}